<!doctype html>
<html class="theme-dark" lang="en">
    <head>
        <meta charset="utf-8" />

        <link
            rel="icon"
            href="/public/img/solrunners-color-64.png"
            sizes="64x64"
        />
        <link rel="icon" href="/public/img/solrunners-color.svg" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
