{% import "comps.jinja" as comps %}
{% extends "base.jinja" %}
{% block head %}
<link rel="stylesheet" href="/public/css/blog-overview.css" />
<title>blogs - solrunners</title>
{% endblock %}

{% block body %}
{{ comps.navbar(selected="blog") }}
<main>

	<div class="title-box">
		<h1>blog</h1>
	</div>

	{{ comps.postlist(posts=posts) }}
</main>
{% endblock %}
