{% macro navbar(selected) %}
<nav>
	{{ navbar_item("/", "root@solrunners ~#") }}
	{{ navbar_item("/", "home", selected) }}
	{{ navbar_item("/blog", "blog", selected) }}

    <!-- <span class="pwrln pwr-sp"></span> -->
	<!-- <a href="//creativecommons.org/licenses/by-nc/4.0" class="pwrln">
           © 2026 CC BY-NC 4.0
       </a> -->
	<span class="pwrln">© 2025 All Rights Reserved, for now</span>
</nav>
{% endmacro %}

{% macro navbar_item(url, text, selected) %}
	{% set tag_name = "a" if url else "div" %}
	<{{ tag_name }}{% if url %} href="{{url}}"{% endif %} class="pwrln {% if text == selected %}pwr-sel{% endif %}">{{text}}</{{ tag_name }}>
{% endmacro %}

{% macro postlist(posts) %}
<ul class="post-list">
	{% for post in posts %}
		<li>
			<a href="{{post.url}}" class="post-container admonition">
				<div class="post-sub admonition-title">
					<span class="post-author">{{ ", ".join(post.authors) }}</span>
					|
					<time class="post-date" datetime="{{date}}">{{post.date}}</time>
				</div>
				<div class="post-title">{{post.title}}</div>
			</a>
		</li>
	{% endfor %}
</ul>
{% endmacro %}
