@import "./common.css";

.fancy-hr {
	white-space: nowrap;
	overflow: hidden;

	margin-block: 2em;

	> * {
		display: flex;
		margin: 0 -1%;
		height: 0.3em;
		align-items: stretch;
		justify-content: space-between;
		gap: 10%;

		* {
			flex-grow: 1;
			transform: skew(-30deg);
		}
		:first-child,
		:last-child {
			flex-grow: 1.1;
		}
		:nth-child(1) {
			background: var(--color-a3);
		}
		:nth-child(2) {
			background: var(--color-a2);
		}
		:nth-child(3) {
			background: var(--color-fg);
		}
		:nth-child(4) {
			background: var(--color-a1);
		}
	}
}

main {
	display: flex;
	flex-direction: row-reverse;
	gap: 4rem;
	max-width: 80rem;
	padding: 4rem;
	margin: auto;

	/* table of contents */
	> aside {
		width: 13rem;
		flex-shrink: 0;

		> :first-child {
			margin-block-start: 0;
		}

		> ol {
			padding-left: 2em;
		}

		> .links {
			color: var(--color-a2);
			list-style-type: none;
			padding: 0;
			margin: 0;

			> li {
				margin-block: 0.25em;

				a {
					text-decoration: none;
				}

				svg {
					height: 1lh;
					aspect-ratio: 1;
					vertical-align: bottom;

					path {
						fill: currentColor;
					}
				}

				svg:last-child {
					vertical-align: baseline;
					height: 0.5lh;
				}
			}
		}
	}
	> article {
		min-width: 0;
		flex-grow: 1;
		overflow: hidden;
		position: relative;
		> .title-box {
			margin-block: 3.5rem 3rem;
			> h1 {
				font-size: 2.5em;
				margin-bottom: 1rem;
			}
			> div {
				color: var(--color-a2);
				font-size: 1.2em;
				height: 1lh;
				> div {
					float: right;
				}
			}
		}
	}
	.barcode {
		width: calc(100% + 1rem);
		height: 1.5rem;
		position: absolute;

		overflow: hidden;

		transform: skew(-30deg);
		transform-origin: left top;
		display: flex;
		transition-property: height, transform;
		transition-duration: 80ms;
		transition-timing-function: cubic-bezier(0, 0, 0.3, 1);

		z-index: 1;

		/* hack: use em size as width of barcode elements */
		font-size: min(max(0.7vw - 0.1rem, 0.25rem), 0.5em);

		> b {
			height: 100%;
			transition: background 100ms ease-out;
			flex-shrink: 0;
		}
		> i {
			height: 1.5rem;
			flex-shrink: 0;
		}
		> :first-child {
			flex-grow: 6;
		}
		> :last-child {
			flex-grow: 1;
		}
		span {
			width: 7.2em;
			margin-right: -7.3em;
			margin-left: 0.1em;
			position: relative;
			text-align: center;
			background: #eee;
			color: var(--color-bg);
			height: 6em;
			top: min(16rem, 20vw);
			translate: 0 -100%;
			pointer-events: none;
			line-height: 1.2;

			&::first-letter {
				font-weight: bold;
				font-size: 5em;
			}
		}
		span:nth-of-type(1)::after,
		span:nth-of-type(5)::after,
		span:nth-of-type(8)::after {
			display: inline-block;
			position: absolute;
			content: "";
			left: -7em;
			bottom: 0;
			height: 1.7rem;
			width: 100%;
			background: #eee;
		}
		span:nth-of-type(5) {
			margin-left: -0.2em;
			width: 7.5em;
		}
		span:nth-of-type(8) {
			margin-left: -0.1em;
			margin-right: -6.9em;

			&::after {
				left: 7em;
			}
		}

		> * {
			background: var(--color-bg);
		}
		.a1 {
			background: var(--color-a1);
		}
		.a2 {
			background: var(--color-a2);
		}
		.a3 {
			background: var(--color-a3);
		}
		.fg {
			background: var(--color-fg);
		}
		.w1 {
			width: 1em;
		}
		.w2 {
			width: 2em;
		}
		.w3 {
			width: 3em;
		}
		.w4 {
			width: 4em;
		}
		.w6 {
			width: 6em;
		}
	}
	.barcode:has(b:hover) {
		height: min(16rem, 20vw);

		b.a1,
		b.a2,
		b.a3,
		b.fg {
			background: #eee;
		}
	}
}

img {
	max-width: 100%;
}
