@import "./common.css";

.fancy-hr {
	white-space: nowrap;
	overflow: hidden;

	margin-block: 2em;

	> * {
		display: flex;
		margin: 0 -1%;
		height: 0.3em;
		align-items: stretch;
		justify-content: space-between;
		gap: 10%;

		* {
			flex-grow: 1;
			transform: skew(-30deg);
		}
		:first-child,
		:last-child {
			flex-grow: 1.1;
		}
		:nth-child(1) {
			background: var(--color-a3);
		}
		:nth-child(2) {
			background: var(--color-a2);
		}
		:nth-child(3) {
			background: var(--color-fg);
		}
		:nth-child(4) {
			background: var(--color-a1);
		}
	}
}

main {
	display: flex;
	flex-direction: row-reverse;
	gap: 4rem;
	max-width: 80rem;
	padding: 4rem;
	margin: auto;

	/* table of contents */
	> aside {
		width: 13rem;
		flex-shrink: 0;

		> ol {
			padding-left: 2em;
		}

		> .links {
			color: var(--color-a2);
			list-style-type: none;
			padding: 0;
			margin: 0;

			> li {
				margin-block: 0.25em;
				> svg {
					height: 1lh;
					aspect-ratio: 1;
					vertical-align: bottom;
					path {
						fill: currentColor;
					}
				}
				> svg:last-child {
					vertical-align: baseline;
					height: 0.5lh;
				}
			}
		}
	}
	> article {
		min-width: 0;
		flex-grow: 1;
		> .title-box {
			overflow: hidden;
			margin-bottom: 3rem;
			> h1 {
				font-size: 2.5em;
				margin-block: 2rem 1rem;
			}
			> div {
				color: var(--color-a2);
				font-size: 1.2em;
				> div {
					float: right;
				}
			}
			div:has(.barcode) {
				position: relative;
				margin: 0 -2rem;
				height: 1.5rem;
			}
			.barcode {
				width: 100%;
				height: 100%;
				position: absolute;

				transform: skew(-30deg);
				display: flex;
				font-size: 0.5rem;
				transition-property: height, transform;
				transition-duration: 80ms;
				transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
				b {
					height: 100%;
					transition: 100ms ease-out;
				}
				i {
					height: 1.5rem;
				}
				> :first-child {
					width: max(100% - 50rem, 4rem);
				}

				> * {
					background: var(--color-bg);
				}
				.a1 {
					background: var(--color-a1);
				}
				.a2 {
					background: var(--color-a2);
				}
				.a3 {
					background: var(--color-a3);
				}
				.fg {
					background: var(--color-fg);
				}
				.w1 {
					flex-grow: 1;
				}
				.w2 {
					flex-grow: 2;
				}
				.w3 {
					flex-grow: 3;
				}
				.w4 {
					flex-grow: 4;
				}
				.w6 {
					flex-grow: 6;
				}
			}
			.barcode:has(b:hover) {
				transform: none;
				height: 800%;

				b.a1,
				b.a2,
				b.a3,
				b.fg {
					background: #eee;
				}
			}
		}
	}
}

img {
	max-width: 100%;
}
