@import "./common.css";

main {
	display: grid;
	max-width: 80rem;
	padding: 4rem;
	margin: auto;

	@media (max-width: 800px) {
		flex-direction: column;
		gap: 1rem;
		padding: 1rem 2rem;
		align-items: left;
	}
}



img {
	max-width: 100%;
}
