@import "./pwrln.css";
@import "./theme.css";
html {
	scrollbar-width: thin;
	scrollbar-color: var(--color-fg) var(--color-bg);
}

body {
	margin: 0;
	font-family: var(--font);
	background: var(--color-bg);
	color: var(--color-fg);

	min-width: 800px;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
	font-weight: bold;
}

strong,
b {
	color: var(--color-a3);
}

a {
	color: var(--color-a2);
}

h1 {
	color: var(--color-a1);
}

ol ol {
	list-style-type: lower-alpha;
}

fieldset {
	border: 1px solid var(--color-fg);
	margin-block: 1em;
}

.admonition,
.codehilite {
	&.note,
	&.info,
	&.tips {
		--color-admon-fg: var(--color-info);
	}
	&.warning,
	&.warn,
	&.important {
		--color-admon-fg: var(--color-warning);
	}
	&.danger,
	&.critical {
		--color-admon-fg: var(--color-danger);
	}
	&.example {
		--color-admon-fg: var(--color-example);
	}
	&.ok,
	&.success,
	&.tip {
		--color-admon-fg: var(--color-success);
	}

	--color-admon-bg: color-mix(
		in oklab,
		var(--color-bg),
		var(--color-admon-fg) 10%
	);
	padding: 0 1rem;
	margin-block: 2rem;
	color: var(--color-admon-fg);
	border: 1px solid var(--color-admon-fg);
	position: relative;
	background-color: var(--color-admon-bg);
	.admonition-title {
		/* font-weight: bold; */
		/* font-size: 1.1em; */
		top: -0.5lh;
		position: absolute;
		background: linear-gradient(
			to bottom,
			transparent calc(50% - 1px),
			var(--color-admon-bg) calc(50% - 1px)
		);
		padding-inline: 0.5ch;
		margin: 0;
		margin-left: -0.5ch;
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		pointer-events: none;
		position: absolute;
		top: 0.3em;
		left: 0.3em;
		border: 1px solid var(--color-admon-fg);
		border-left: none;
		border-top: none;
	}
}

code {
	/* the fonts are already monospaced so */
	font: inherit;
	border: 1px solid var(--color-fg-50);
}
.codehilite code {
	border: none;
}

table:not(.codehilitetable) {
	th,
	td {
		text-align: left;
		padding: 8px;
		padding-inline: 16px;
		border-block: 1px solid
			color-mix(in oklab, var(--color-fg) 50%, var(--color-bg));
	}

	thead > tr,
	tr:nth-child(even) {
		background-color: color-mix(
			in oklab,
			var(--color-fg) 8%,
			var(--color-bg)
		);
	}
	border-collapse: collapse;
}

.toc {
	ul {
		margin-left: 1em;
		list-style-type: "> ";
		padding: 0;
	}
}
