@import "./pwrln.css";

@font-face {
	font-family: "Iosevka Web";
	font-display: block;
	font-weight: normal;
	src: url("../woff/Iosevka-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Iosevka Web";
	font-display: block;
	font-weight: bold;
	src: url("../woff/Iosevka-Bold.woff2") format("woff2");
}

.theme-dark {
	--font: "Iosevka", "Iosevka Web", "Comic Sans MS", cursive;

	--color-bg: #0b0b18;
	--color-fg: #ded5ec;
	--color-a1: #d468ff;
	--color-a2: #7aebff;
	--color-a3: #ff7063;

	--color-heading: var(--color-a1);
	--color-link: var(--color-a2);
	--color-bold: var(--color-a3);

	--color-info: var(--color-a2);
	--color-warning: #f9cd5f;
	--color-success: #89e815;
	--color-danger: var(--color-a3);
	--color-example: var(--color-a1);

	--color-fg-95: color-mix(in oklab, var(--color-bg), var(--color-fg) 95%);
	--color-fg-90: color-mix(in oklab, var(--color-bg), var(--color-fg) 90%);
	--color-fg-85: color-mix(in oklab, var(--color-bg), var(--color-fg) 85%);
	--color-fg-80: color-mix(in oklab, var(--color-bg), var(--color-fg) 80%);
	--color-fg-50: color-mix(in oklab, var(--color-bg), var(--color-fg) 50%);

	--color-bg-5: color-mix(in oklab, var(--color-bg), var(--color-fg) 5%);
	--color-bg-10: color-mix(in oklab, var(--color-bg), var(--color-fg) 10%);
	--color-bg-15: color-mix(in oklab, var(--color-bg), var(--color-fg) 15%);
	--color-bg-20: color-mix(in oklab, var(--color-bg), var(--color-fg) 20%);

	--shadowbox-spacing: 6px;
}
